/* CSS Variables */
:root {
    --primary-color: #4a90e2;
    --secondary-color: #f5f5f5;
    --text-color: #333;
    --primary-font: 'Arial', sans-serif;
    --secondary-font: 'Courier New', monospace;
}

/* Global Styles */
body {
    font-family: var(--primary-font);
    padding-top: 57.15px; /* Adjusted for fixed navbar height */
}

/* Navigation Bar */
.navbar {
    background-color: var(--primary-color);
}

.navbar .logo {
    width: 40px;
}