@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Poiret+One&display=swap');

/*  Color Palette
#0d0b33
#4c2f6f
#52489f
#c266a7
#e7c8e7
*/

/* CSS Variables */
:root {
    --primary-color: #4c2f6f;
    --secondary-color: #f5f5f5;
    --text-color: #333;
    --primary-font: 'Oooh Baby', cursive;
    --secondary-font: 'Poiret One', cursive;
}

/* Global Styles */
body {
    font-family: var(--primary-font);
    padding-top: 57.15px; /* Adjusted for fixed navbar height */
}

/* Navigation Bar */
.navbar {
    background-color: var(--primary-color);
}

.navbar .logo {
    width: 30px;
}